<a href="https://colab.research.google.com/github/muthuselvi-20/AIML/blob/main/Student_marks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. STUDENT MARKS

In [ ]:
import numpy as np

In [ ]:
marks = np.array([[67,56,34,43,56],
                 [45,52,25,79,69],
                 [89,85,72,84,93]])

In [ ]:
# total no. of students
print("Students: ", np.size(marks,0))

# total no. of subjects
print("Subjects: ", np.size(marks,1))

Students:  3
Subjects:  5

In [ ]:
print(np.shape(marks))
print(marks.ndim)

(3, 5)
2

In [ ]:
# First student's 2nd subject mark
print(marks[0,1])

56

In [ ]:
# lengthy
for i in range(np.size(marks,0)):
      average = np.mean(marks[i])
      print(f"Average of student {i+1} : ", average)

Average of student 1 :  51.2
Average of student 2 :  54.0
Average of student 3 :  84.6

In [ ]:
#short
avg = np.mean(marks,1)
for i in range(len(avg)):
  print("Average of student", i+1,":",avg[i])

Average of student 1 : 51.2
Average of student 2 : 54.0
Average of student 3 : 84.6

In [49]:
minimum = np.min(marks,0)
print(minimum)

#extra mark for low marks students
minimum += 10
print("After + 10")
print(minimum)

[45 52 25 43 56]
After + 10
[55 62 35 53 66]